if ARCH_OWL

choice
	prompt "Actions OWL SoC select"
	optional

config S900
	bool "S900 family"
	select ARM64

endchoice

config SYS_SOC
	default "owl"

config SYS_MALLOC_F_LEN
	default 0x800

source "arch/arm/mach-owl/s900/Kconfig"

endif
